<ion-tabs>
  <ion-tab tab="summary">
    <div id="summary-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Summary</ion-title>
        </ion-toolbar>
      </ion-header>
      <app-video-summary></app-video-summary>
    </div>
  </ion-tab>
  <ion-tab tab="placements">
    <div id="placements-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Placements</ion-title>
        </ion-toolbar>
      </ion-header>
      <app-video-placements></app-video-placements>
    </div>
  </ion-tab>
  <ion-tab tab="attribution">
    <div id="attribution-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Attribution</ion-title>
        </ion-toolbar>
      </ion-header>
      <app-video-attribution></app-video-attribution>
    </div>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="summary">
      <ion-icon name="stats-chart"></ion-icon>
      Summary
    </ion-tab-button>
    <ion-tab-button tab="placements">
      <ion-icon name="document"></ion-icon>
      Placements
    </ion-tab-button>
    <ion-tab-button tab="attribution">
      <ion-icon name="ribbon"></ion-icon>
      Attribution
    </ion-tab-button>
<!--    <ion-tab-button tab="insights">-->
<!--      <ion-icon name="analytics"></ion-icon>-->
<!--      Audience Insights-->
<!--    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>
